.headroom--pinned {
  background: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

@media (max-width: 780px) {
  .headroom .index { display: none; }
}

.headroom .social {
  width: 300px;
  text-align: right;
}

@media (max-width: 480px) {
  .headroom .social { display: none; }
}