ul.index li {
 padding: 10px;
 margin: 10px;

 overflow: hidden;
}

ul.index li a {
    font-size: 22px;    
}

a {
    color: #2A5DB0;
}

@media (max-width: 480px) {
    ul { margin: 0; }
    ul.index li { padding: 0; margin: 0; margin-bottom: 20px; }
}